.page {
  padding: 0 40px !important; 
}

.page-listed-posts {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $white;
  border-color: transparentize($white, 0.7);
}
.page-subtitle {
  margin-bottom: 6px;
}

.page-listed-post-meta {
  font-size: $font-size-default - 2px;
  margin-bottom: 10px;
}

.page-listed-post {
  margin-bottom: 30px;
  @include clearfix;
}

.page-listed-post-thumb {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  width: 150px;
  text-align: center;
  img {
    border-radius: 2px;
  }
}

.page-listed-post-content {
  margin-bottom: 10px;
  p:last-child {
    margin-bottom: 0;
  }
}