// Content on the individual post page

.post {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid $white;
  border-color: transparentize($white, 0.7);
  img {
    max-width: 100%;
    height: auto;
  }
}

.post-title,
.page-title {
  margin-bottom: 40px;
  padding-bottom: 12px;
  border-bottom: 1px solid $white;
  border-color: transparentize($white, 0.7);
  text-align: center;
}

.post-meta {
  margin-top: -26px;
  font-size: $font-size-small;
  text-align: center;
}

.post-content {
  margin: 20px 0;
}

.post-tags {
  font-size: $font-size-small;
  line-height: $font-size-small + 6px;
}

iframe[src*="youtube.com/embed"],
iframe[src*="player.vimeo"] {
  display:block;
  width: 100%;
  margin: 0 auto;
  max-height: 250px;
}

@media screen and (min-width: $screen-ipad-portrait) {
  iframe[src*="youtube.com/embed"],
  iframe[src*="player.vimeo"] { 
    max-height: none;
  }
}