// Wordpress Core CSS for post formatting

.alignleft {
  float: left;
  margin-right: $line-height-computed;
  margin-bottom: $line-height-computed;
}

.alignright {
  float: right;
  margin-left: $line-height-computed;
  margin-bottom: $line-height-computed;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wp-caption:not(.aligncenter) {
  display: inline-block;
}

.wp-caption-text {
  text-align: center;
  font-size: $font-size-small;
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
  }
}